body {
    font-family: Arial, sans-serif;
    background-color: #F3F3E0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #CBDCEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.navbar {
    background-color: #133E87;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
}
.navbar a:hover {
    background-color: #5cc9ea;
}

h1, h3, h5 {
    color: #133E87;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: left;
}
th {
    background-color: #608BC1;
    color: rgb(0, 0, 0);
}
ul {
    list-style-type: square;
    padding: 0;
    text-align: left;
}
li {
    padding: 5px 0;
}
a {
    color: #0080ff;
    text-decoration: none;
}
a:hover {
    color: #;
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
nav ul {
    justify-content: space-between;
    display: flex ;
}